In [3]:
print('h')

h

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_json('questiondetailwithtag.json')

In [6]:
df

,question,option,tag
0,"{'questionid': '1738', 'questiontext': 'During...","[{'answerid': '4148', 'optiontext': 'Clean', '...","[{'tagid': '1114', 'tagname': 'Domain: evidenc..."
1,"{'questionid': '1739', 'questiontext': 'During...","[{'answerid': '4150', 'optiontext': 'Manipulat...","[{'tagid': '1114', 'tagname': 'Domain: evidenc..."
2,"{'questionid': '1736', 'questiontext': 'High v...","[{'answerid': '4140', 'optiontext': 'Tracheal ...","[{'tagid': '1114', 'tagname': 'Domain: evidenc..."
3,"{'questionid': '1730', 'questiontext': 'How lo...","[{'answerid': '4116', 'optiontext': 'Approxima...","[{'tagid': '1114', 'tagname': 'Domain: evidenc..."
4,"{'questionid': '1735', 'questiontext': 'Preoxy...","[{'answerid': '4136', 'optiontext': 'Hyperoxia...","[{'tagid': '1114', 'tagname': 'Domain: evidenc..."
...,...,...,...
113,"{'questionid': '66706', 'questiontext': 'Verba...","[{'answerid': '17715', 'optiontext': 'Chemothe...","[{'tagid': '1120', 'tagname': 'Type: knowledge..."
114,"{'questionid': '66718', 'questiontext': 'What ...","[{'answerid': '17763', 'optiontext': 'Difficul...","[{'tagid': '1120', 'tagname': 'Type: knowledge..."
115,"{'questionid': '66715', 'questiontext': 'What ...","[{'answerid': '17751', 'optiontext': 'Patient ...","[{'tagid': '1120', 'tagname': 'Type: knowledge..."
116,"{'questionid': '66716', 'questiontext': 'Which...","[{'answerid': '17755', 'optiontext': 'Short me...","[{'tagid': '1120', 'tagname': 'Type: knowledge..."
117,"{'questionid': '66717', 'questiontext': 'You a...","[{'answerid': '17759', 'optiontext': 'Full nam...","[{'tagid': '1120', 'tagname': 'Type: knowledge..."

In [7]:
df.head(1)['tag'].values

array([list([{'tagid': '1114', 'tagname': 'Domain: evidence base practice'}, {'tagid': '1115', 'tagname': 'Competency Name: suctioning procedure'}, {'tagid': '1116', 'tagname': 'Competency area: procedure of suctioning'}, {'tagid': '1117', 'tagname': 'Type: skill'}, {'tagid': '1118', 'tagname': 'Competency Definition: the dominant hand'}])],
      dtype=object)

In [8]:
df['tag']

0      [{'tagid': '1114', 'tagname': 'Domain: evidenc...
1      [{'tagid': '1114', 'tagname': 'Domain: evidenc...
2      [{'tagid': '1114', 'tagname': 'Domain: evidenc...
3      [{'tagid': '1114', 'tagname': 'Domain: evidenc...
4      [{'tagid': '1114', 'tagname': 'Domain: evidenc...
                             ...
113    [{'tagid': '1120', 'tagname': 'Type: knowledge...
114    [{'tagid': '1120', 'tagname': 'Type: knowledge...
115    [{'tagid': '1120', 'tagname': 'Type: knowledge...
116    [{'tagid': '1120', 'tagname': 'Type: knowledge...
117    [{'tagid': '1120', 'tagname': 'Type: knowledge...
Name: tag, Length: 118, dtype: object

In [9]:
df.iloc[2]['question']

{'questionid': '1736',
 'questiontext': 'High vacuum pressure during suctioning can lead to all except',
 'questiontype': 'multichoice'}

In [10]:
df.isnull().sum()

question    0
option      0
tag         0
dtype: int64

In [11]:
df['option'].head(2)

0    [{'answerid': '4148', 'optiontext': 'Clean', '...
1    [{'answerid': '4150', 'optiontext': 'Manipulat...
Name: option, dtype: object

In [12]:
# Extract all unique tags with their tag IDs
all_tags = []
for tag_list in df['tag']:
    if isinstance(tag_list, list):
        for tag_dict in tag_list:
            all_tags.append((tag_dict['tagid'], tag_dict['tagname']))

# Get unique tags
unique_tags = list(set(all_tags))
unique_tags_sorted = sorted(unique_tags, key=lambda x: x[0])

# Create a dataframe for better display
tags_df = pd.DataFrame(unique_tags_sorted, columns=['tag_id', 'tag_name'])
tags_df

    tag_id                                           tag_name
0     1114                     Domain: evidence base practice
1     1115              Competency Name: suctioning procedure
2     1116           Competency area: procedure of suctioning
3     1117                                        Type: skill
4     1118           Competency Definition: the dominant hand
..     ...                                                ...
167   1289   Competency Definition: error prone communication
168   1290      Competency area: reporting of critical values
169   1291  Competency Definition: methods of reporting cr...
170   1292       Competency area: verbal and telephonic order
171   1293  Competency Definition: method of receiving tel...

[172 rows x 2 columns]

In [13]:
# Extract all unique options with their option IDs
all_options = []
for option_list in df['option']:
    if isinstance(option_list, list):
        for option_dict in option_list:
            all_options.append((option_dict['answerid'], option_dict['optiontext']))

# Get unique options
unique_options = list(set(all_options))

unique_options_sorted = sorted(unique_options, key=lambda x: x[0])


# Create a dataframe for better display
options_df = pd.DataFrame(unique_options_sorted, columns=['option_id', 'option_text'])
options_df

    option_id                                        option_text
0       16529                                    Into the ureter
1       16530               Through the urethra into the bladder
2       16531                                 Through the rectum
3       16532                       From ureter into the bladder
4       16537                             Imaging studies of UTI
..        ...                                                ...
433      6421  Disconnected from the catheter tubing and rele...
434      6422  Clean the only the first 1 to 2 inches of the ...
435      6423                            Wipe towards the meatus
436      6424       Use a paper towel to dry the catheter tubing
437      6425  Observe the area for any signs of irritation o...

[438 rows x 2 columns]

In [14]:
df['question'][0]

{'questionid': '1738',
 'questiontext': 'During suctioning, the dominant hand is considered',
 'questiontype': 'multichoice'}

In [15]:
#Extract all questions in a list
all_questions = []
for ques_dict in df['question']:
    if isinstance(ques_dict,dict):
       all_questions.append((ques_dict['questionid'] , ques_dict['questiontext'] , ques_dict['questiontype']))

#Get all unique questions
unique_questions = set(all_questions)

#Sort all questions by its questionid
unique_questions_sorted = sorted(unique_questions , key = lambda x:x[0])

# Create a dataframe for better display
questions_df = pd.DataFrame(unique_questions_sorted, columns=['question_id', 'question_text', 'question_type'])
questions_df

,question_id,question_text,question_type
0,129935,Which among the following is <strong>not </str...,multichoice
1,1686,Which one of the following device provides fix...,multichoice
2,1689,The percentage of oxygen participating in gas-...,multichoice
3,1690,What is the flow rate at which a simple face m...,multichoice
4,1691,You are preparing to transport a patient and t...,multichoice
...,...,...,...
113,66716,Which method is not allowed for clinical instr...,multichoice
114,66717,You are receiving a telephonic order for your ...,multichoice
115,66718,What are the situations when verbal orders can...,multichoice
116,81169,What is the normal range of oxygen in arterial...,multichoice
117,82153,Normally which size of catheter used in a male...,multichoice

In [16]:
questions_df.drop(['question_type'],axis=1,inplace=True)

In [17]:
questions_df

    question_id                                      question_text
0        129935  Which among the following is <strong>not </str...
1          1686  Which one of the following device provides fix...
2          1689  The percentage of oxygen participating in gas-...
3          1690  What is the flow rate at which a simple face m...
4          1691  You are preparing to transport a patient and t...
..          ...                                                ...
113       66716  Which method is not allowed for clinical instr...
114       66717  You are receiving a telephonic order for your ...
115       66718  What are the situations when verbal orders can...
116       81169  What is the normal range of oxygen in arterial...
117       82153  Normally which size of catheter used in a male...

[118 rows x 2 columns]

In [18]:
tags_df

    tag_id                                           tag_name
0     1114                     Domain: evidence base practice
1     1115              Competency Name: suctioning procedure
2     1116           Competency area: procedure of suctioning
3     1117                                        Type: skill
4     1118           Competency Definition: the dominant hand
..     ...                                                ...
167   1289   Competency Definition: error prone communication
168   1290      Competency area: reporting of critical values
169   1291  Competency Definition: methods of reporting cr...
170   1292       Competency area: verbal and telephonic order
171   1293  Competency Definition: method of receiving tel...

[172 rows x 2 columns]

In [19]:
options_df

    option_id                                        option_text
0       16529                                    Into the ureter
1       16530               Through the urethra into the bladder
2       16531                                 Through the rectum
3       16532                       From ureter into the bladder
4       16537                             Imaging studies of UTI
..        ...                                                ...
433      6421  Disconnected from the catheter tubing and rele...
434      6422  Clean the only the first 1 to 2 inches of the ...
435      6423                            Wipe towards the meatus
436      6424       Use a paper towel to dry the catheter tubing
437      6425  Observe the area for any signs of irritation o...

[438 rows x 2 columns]

In [20]:
df.iloc[0]

question    {'questionid': '1738', 'questiontext': 'During...
option      [{'answerid': '4148', 'optiontext': 'Clean', '...
tag         [{'tagid': '1114', 'tagname': 'Domain: evidenc...
Name: 0, dtype: object

In [42]:
# Define a function to get correct answer for each row
def get_correct_ans(option_list):
    if isinstance(option_list, list):
        for option_dict in option_list:
            if option_dict.get('answerstatus') == 'Correct':
                return option_dict.get('optiontext')
    return None

# Apply the function to create a new column
df['Correct_Ans'] = df['option'].apply(get_correct_ans)

# Display the result
df[['question', 'Correct_Ans']].head(10)

,question,Correct_Ans
0,"{'questionid': '1738', 'questiontext': 'During...",Sterile
1,"{'questionid': '1739', 'questiontext': 'During...",Manipulating the catheter
2,"{'questionid': '1736', 'questiontext': 'High v...",Hyperoxia
3,"{'questionid': '1730', 'questiontext': 'How lo...",Approximately 15 seconds
4,"{'questionid': '1735', 'questiontext': 'Preoxy...",Hypoxia
5,"{'questionid': '1737', 'questiontext': 'The ge...",Less than 50% of the size of the ETT inner dia...
6,"{'questionid': '1731', 'questiontext': 'The le...",5 to 6 inches
7,"{'questionid': '1732', 'questiontext': 'The le...",3 to 4 inches
8,"{'questionid': '1734', 'questiontext': 'The le...",30 to 38 cm
9,"{'questionid': '1733', 'questiontext': 'The le...",13 to 15 cm

In [41]:
df['option'][37]

[{'answerid': '16605',
  'optiontext': 'Spasms at the orifice of the bladder.',
  'fraction': '0.0000000',
  'answerstatus': 'Incorrect'},
 {'answerid': '16606',
  'optiontext': 'Friction along the urethra when the catheter is being inserted.',
  'fraction': '1.0000000',
  'answerstatus': 'Correct'},
 {'answerid': '16607',
  'optiontext': 'The number of organisms gaining entrance to the bladder.',
  'fraction': '0.0000000',
  'answerstatus': 'Incorrect'},
 {'answerid': '16608',
  'optiontext': 'The formation of encrustations that may occur at the end of the catheter.',
  'fraction': '0.0000000',
  'answerstatus': 'Incorrect'}]

In [51]:
df['tag'][102]

[{'tagid': '1120', 'tagname': 'Type: knowledge'},
 {'tagid': '1227', 'tagname': 'Competency Name: glasgow coma scale'},
 {'tagid': '1234',
  'tagname': 'Competency Definition: interpret verbal response'},
 {'tagid': '1235', 'tagname': 'Competency area: verbal response'}]